/*
Theme Name: Developer Child
Theme URI: http://pixelgrapes.com/demo/developer-child
Author: adam
Author URI: http://example.com
Template: developer
Description: Building Developer WordPress Child Theme
Version: 1.1.5
License: 
License URI: 
Text Domain: developer-child
Tags: light, dark, two-columns, three-columns, right-sidebar, fixed-layout, responsive-layout, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready

*/
@media (min-width: 1170px) {
.pg-developer-product-mockup {
    width: 60%;        
        }
.pg-developer-product-intro {
    width: 40%;        
        }
.pg-developer-content {
    min-height: 600px;        
        }
}
@media only screen and (max-width: 1169px) {
		.pg-developer-product-intro p {
                        text-align: center;
		}
	}
.big-background-container h1, h2 {
            display: none;
        }
.logo {
        background-image: url('../../uploads/2017/01/logohome-e1484995306496.png');
        background-repeat: no-repeat;
        min-height: 100px;
        min-width: 350px;
        display: inline-block;
        }
@media only screen and (max-width: 350px) {
		.logo {
                    background-size: 295px 80px; 
                    background-position: center;
                    margin: 0 auto;
                    min-height: 80px;
                    min-width: 295px;
		}
	}
.big-background-container h5, .textright h5 {
        padding-top: 60px;    
        }